In [ ]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

For data cleaning, we started with generating the result column of whether or not a country received funds in a certain year. We first added a new column called “Year” from the Transaction Value Date and then selected only columns of country, year, and facility type. We then generated two dataframes of all countries and all years that have appeared in this dataset. We cross-joined them together so that each row corresponds to one country in a given year. After that, we merge with the original dataset to include the type of fund a country received in a year. We replaced null values with 0s, and any non-null values with 1s. In that way, we got an indicator of whether funds were received named “Fund”. Finally we kept only columns of country, year, and fund.

In [ ]:
flows = pd.read_csv('FLOWS all.csv')
flows

,Flow Type,Member,Member Code,Description,Transaction Value Date,Amount,Original Disbursement Date,Original Arrangement Date
0,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,1/19/2007,"13,200,000",1/19/2007,6/26/2006
1,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,3/29/2007,"11,300,000",3/29/2007,6/26/2006
2,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,7/23/2007,"11,300,000",7/23/2007,6/26/2006
3,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2/28/2008,"11,300,000",2/28/2008,6/26/2006
4,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,7/15/2008,"11,300,000",7/15/2008,6/26/2006
...,...,...,...,...,...,...,...,...
1543,PRGT Disbursements,Zambia,ZMB,Extended Credit Facility,9/2/2022,"139,880,000",9/2/2022,8/31/2022
1544,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,9/18/1992,"54,700,000",9/18/1992,9/11/1992
1545,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,5/28/1993,"30,400,000",5/28/1993,9/11/1992
1546,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,2/22/1994,"33,400,000",2/22/1994,9/11/1992
1547,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,2/17/1995,"33,400,000",2/17/1995,9/11/1992

In [ ]:
flows['Year'] = pd.DatetimeIndex(flows['Transaction Value Date']).year
flows

,Flow Type,Member,Member Code,Description,Transaction Value Date,Amount,Original Disbursement Date,Original Arrangement Date,Year
0,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,1/19/2007,"13,200,000",1/19/2007,6/26/2006,2007
1,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,3/29/2007,"11,300,000",3/29/2007,6/26/2006,2007
2,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,7/23/2007,"11,300,000",7/23/2007,6/26/2006,2007
3,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2/28/2008,"11,300,000",2/28/2008,6/26/2006,2008
4,PRGT Disbursements,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,7/15/2008,"11,300,000",7/15/2008,6/26/2006,2008
...,...,...,...,...,...,...,...,...,...
1543,PRGT Disbursements,Zambia,ZMB,Extended Credit Facility,9/2/2022,"139,880,000",9/2/2022,8/31/2022,2022
1544,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,9/18/1992,"54,700,000",9/18/1992,9/11/1992,1992
1545,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,5/28/1993,"30,400,000",5/28/1993,9/11/1992,1993
1546,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,2/22/1994,"33,400,000",2/22/1994,9/11/1992,1994
1547,PRGT Disbursements,Zimbabwe,ZWE,Extended Credit Facility,2/17/1995,"33,400,000",2/17/1995,9/11/1992,1995

In [ ]:
cleaned = flows[['Member', 'Member Code', 'Description', 'Year']].drop_duplicates().reset_index(drop=True)
cleaned

,Member,Member Code,Description,Year
0,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2007
1,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2008
2,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2009
3,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2010
4,"Afghanistan, Islamic Republic of",AFG,Extended Credit Facility,2011
...,...,...,...,...
1071,Zambia,ZMB,Extended Credit Facility,2022
1072,Zimbabwe,ZWE,Extended Credit Facility,1992
1073,Zimbabwe,ZWE,Extended Credit Facility,1993
1074,Zimbabwe,ZWE,Extended Credit Facility,1994
1075,Zimbabwe,ZWE,Extended Credit Facility,1995

In [ ]:
countries = cleaned[['Member', 'Member Code']].drop_duplicates().reset_index(drop=True)
countries

                              Member Member Code
0   Afghanistan, Islamic Republic of         AFG
1                            Albania         ALB
2               Armenia, Republic of         ARM
3                         Azerbaijan         AZE
4                         Bangladesh         BGD
..                               ...         ...
69                           Vanuatu         VUT
70                           Vietnam         VNM
71                Yemen, Republic of         YMN
72                            Zambia         ZMB
73                          Zimbabwe         ZWE

[74 rows x 2 columns]

In [ ]:
years = cleaned[['Year']].drop_duplicates().reset_index(drop=True).sort_values('Year').reset_index(drop=True)
years

    Year
0   1986
1   1987
2   1988
3   1989
4   1990
5   1991
6   1992
7   1993
8   1994
9   1995
10  1996
11  1997
12  1998
13  1999
14  2000
15  2001
16  2002
17  2003
18  2004
19  2005
20  2006
21  2007
22  2008
23  2009
24  2010
25  2011
26  2012
27  2013
28  2014
29  2015
30  2016
31  2017
32  2018
33  2019
34  2020
35  2021
36  2022

In [ ]:
countries['key'] = 0
years['key'] = 0

merged = countries.merge(years, how='outer', on='key')
merged = merged[['Member', 'Member Code', 'Year']]
merged

                                Member Member Code  Year
0     Afghanistan, Islamic Republic of         AFG  1986
1     Afghanistan, Islamic Republic of         AFG  1987
2     Afghanistan, Islamic Republic of         AFG  1988
3     Afghanistan, Islamic Republic of         AFG  1989
4     Afghanistan, Islamic Republic of         AFG  1990
...                                ...         ...   ...
2733                          Zimbabwe         ZWE  2018
2734                          Zimbabwe         ZWE  2019
2735                          Zimbabwe         ZWE  2020
2736                          Zimbabwe         ZWE  2021
2737                          Zimbabwe         ZWE  2022

[2738 rows x 3 columns]

In [ ]:
result = merged.merge(cleaned, how='left', left_on=['Member', 'Member Code', 'Year'], right_on=['Member', 'Member Code', 'Year'])
result['Description'] = result['Description'].fillna(0)
result

                                Member Member Code  Year Description
0     Afghanistan, Islamic Republic of         AFG  1986           0
1     Afghanistan, Islamic Republic of         AFG  1987           0
2     Afghanistan, Islamic Republic of         AFG  1988           0
3     Afghanistan, Islamic Republic of         AFG  1989           0
4     Afghanistan, Islamic Republic of         AFG  1990           0
...                                ...         ...   ...         ...
2801                          Zimbabwe         ZWE  2018           0
2802                          Zimbabwe         ZWE  2019           0
2803                          Zimbabwe         ZWE  2020           0
2804                          Zimbabwe         ZWE  2021           0
2805                          Zimbabwe         ZWE  2022           0

[2806 rows x 4 columns]

In [ ]:
def transform(x):
  if x != 0:
    return 1
  else:
    return 0

result['Fund'] = result['Description'].apply(transform)
result

                                Member Member Code  Year Description  Fund
0     Afghanistan, Islamic Republic of         AFG  1986           0     0
1     Afghanistan, Islamic Republic of         AFG  1987           0     0
2     Afghanistan, Islamic Republic of         AFG  1988           0     0
3     Afghanistan, Islamic Republic of         AFG  1989           0     0
4     Afghanistan, Islamic Republic of         AFG  1990           0     0
...                                ...         ...   ...         ...   ...
2801                          Zimbabwe         ZWE  2018           0     0
2802                          Zimbabwe         ZWE  2019           0     0
2803                          Zimbabwe         ZWE  2020           0     0
2804                          Zimbabwe         ZWE  2021           0     0
2805                          Zimbabwe         ZWE  2022           0     0

[2806 rows x 5 columns]

In [ ]:
result = result[['Member', 'Member Code', 'Year', 'Fund']]
result

                                Member Member Code  Year  Fund
0     Afghanistan, Islamic Republic of         AFG  1986     0
1     Afghanistan, Islamic Republic of         AFG  1987     0
2     Afghanistan, Islamic Republic of         AFG  1988     0
3     Afghanistan, Islamic Republic of         AFG  1989     0
4     Afghanistan, Islamic Republic of         AFG  1990     0
...                                ...         ...   ...   ...
2801                          Zimbabwe         ZWE  2018     0
2802                          Zimbabwe         ZWE  2019     0
2803                          Zimbabwe         ZWE  2020     0
2804                          Zimbabwe         ZWE  2021     0
2805                          Zimbabwe         ZWE  2022     0

[2806 rows x 4 columns]

In [ ]:
result.to_csv('Result.csv')