In [ ]:
import numpy as np
import pandas as pd
import datetime

Now we have all the datasets grouped by country and year, so we join them together in a single dataset. We first subtract 1 from the year of funds, since the decision is made based on data from the previous year instead of the current year (and also the data are not yet available). Then we first joined the GDP, before which we changed a country’s name to make them identical for joining and dropped a country that is not in the result dataset. We then joined the food supply, natural disasters, and total PGT credit outstanding data. Finally, we cleaned the country names of the current account balance, capital account balance, financial account balance, and reserves to match those of the result data, and joined them together. Now we get a complete dataset ready for use.

In [ ]:
result = pd.read_csv('Result - Cleaned.csv')
result

           Member Member Code  Year  Fund
0     Afghanistan         AFG  1986     0
1     Afghanistan         AFG  1987     0
2     Afghanistan         AFG  1988     0
3     Afghanistan         AFG  1989     0
4     Afghanistan         AFG  1990     0
...           ...         ...   ...   ...
2733     Zimbabwe         ZWE  2018     0
2734     Zimbabwe         ZWE  2019     0
2735     Zimbabwe         ZWE  2020     0
2736     Zimbabwe         ZWE  2021     0
2737     Zimbabwe         ZWE  2022     0

[2738 rows x 4 columns]

In [ ]:
result['Year'] = result['Year'] - 1
result.head()

        Member Member Code  Year  Fund
0  Afghanistan         AFG  1985     0
1  Afghanistan         AFG  1986     0
2  Afghanistan         AFG  1987     0
3  Afghanistan         AFG  1988     0
4  Afghanistan         AFG  1989     0

In [ ]:
gdp = pd.read_excel('Real GDP growth (clean).xlsx', header=1)
gdp

        COUNTRIES  YEAR  Real GDP growth (Annual percent change)
0     Afghanistan  1980                                      NaN
1     Afghanistan  1981                                      NaN
2     Afghanistan  1982                                      NaN
3     Afghanistan  1983                                      NaN
4     Afghanistan  1984                                      NaN
...           ...   ...                                      ...
3595     Zimbabwe  2023                                      2.8
3596     Zimbabwe  2024                                      2.9
3597     Zimbabwe  2025                                      2.9
3598     Zimbabwe  2026                                      3.0
3599     Zimbabwe  2027                                      3.0

[3600 rows x 3 columns]

In [ ]:
gdp['COUNTRIES'] = gdp['COUNTRIES'].str.replace('Sao Tome and Principe', 'Sao Tome & Principe')
gdp = gdp[gdp['COUNTRIES'] != 'Dominican Republic']

In [ ]:
merge1 = result.merge(gdp, left_on=['Member', 'Year'], right_on=['COUNTRIES', 'YEAR'])
merge1 = merge1.drop(['COUNTRIES', 'YEAR'], axis=1)
merge1

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change)
0,Afghanistan,AFG,1985,0,NaN
1,Afghanistan,AFG,1986,0,NaN
2,Afghanistan,AFG,1987,0,NaN
3,Afghanistan,AFG,1988,0,NaN
4,Afghanistan,AFG,1989,0,NaN
...,...,...,...,...,...
2733,Zimbabwe,ZWE,2017,0,5.0
2734,Zimbabwe,ZWE,2018,0,4.7
2735,Zimbabwe,ZWE,2019,0,-6.1
2736,Zimbabwe,ZWE,2020,0,-5.2
2737,Zimbabwe,ZWE,2021,0,7.2

In [ ]:
merge1.to_csv('Result and GDP.csv')

In [ ]:
food_supply = pd.read_csv('Food_Supply_Cleaned.csv', index_col=0)
food_supply

             Area  Year  Food Supply (kcal/capita/day)
0     Afghanistan  1961                           2999
1     Afghanistan  1962                           2917
2     Afghanistan  1963                           2698
3     Afghanistan  1964                           2953
4     Afghanistan  1965                           2956
...           ...   ...                            ...
8987     Zimbabwe  2015                           1919
8988     Zimbabwe  2016                           1957
8989     Zimbabwe  2017                           1862
8990     Zimbabwe  2018                           1875
8991     Zimbabwe  2019                           1707

[8992 rows x 3 columns]

In [ ]:
merge2 = merge1.merge(food_supply, left_on=['Member', 'Year'], right_on=['Area', 'Year'])
merge2 = merge2.drop(['Area'], axis=1)
merge2

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day)
0,Afghanistan,AFG,1985,0,NaN,2403
1,Afghanistan,AFG,1986,0,NaN,2397
2,Afghanistan,AFG,1987,0,NaN,2727
3,Afghanistan,AFG,1988,0,NaN,2518
4,Afghanistan,AFG,1989,0,NaN,2462
...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919
2276,Zimbabwe,ZWE,2016,0,0.5,1957
2277,Zimbabwe,ZWE,2017,0,5.0,1862
2278,Zimbabwe,ZWE,2018,0,4.7,1875
2279,Zimbabwe,ZWE,2019,0,-6.1,1707

In [ ]:
merge2.to_csv('Result, GDP, Food Supply.csv')

In [ ]:
natural_disaster = pd.read_csv('Natural_Disasters_Cleaned.csv', index_col=0)
natural_disaster

      Year                             Country  Dis No
0     1985                             Albania       2
1     1985                             Algeria       2
2     1985                              Angola       1
3     1985                           Argentina       3
4     1985                           Australia       3
...    ...                                 ...     ...
4084  2022  Venezuela (Bolivarian Republic of)       8
4085  2022                             Vietnam       7
4086  2022                               Yemen       3
4087  2022                              Zambia       1
4088  2022                            Zimbabwe       3

[4089 rows x 3 columns]

In [ ]:
merge3 = merge2.merge(natural_disaster, how='left', left_on=['Member', 'Year'], right_on=['Country', 'Year'])
merge3 = merge3.drop(['Country'], axis=1)
merge3

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No
0,Afghanistan,AFG,1985,0,NaN,2403,NaN
1,Afghanistan,AFG,1986,0,NaN,2397,NaN
2,Afghanistan,AFG,1987,0,NaN,2727,1.0
3,Afghanistan,AFG,1988,0,NaN,2518,1.0
4,Afghanistan,AFG,1989,0,NaN,2462,NaN
...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0

In [ ]:
merge3.to_csv('Result, GDP, Food Supply, Natural Disaster.csv')

In [ ]:
position = pd.read_csv('position.csv', index_col=0)
position

,Member,Year,Total PRG Credit Outstanding,Total Holdings
0,Afghanistan,1985,0,"81,884,756"
1,Algeria,1985,0,"470,159,917"
2,Antigua and Barbuda,1985,0,"4,999,375"
3,Argentina,1985,0,"3,218,128,958"
4,Australia,1985,0,"1,430,527,241"
...,...,...,...,...
6758,"Congo, Republic of",2020,"33,004,287","142,047,243"
6759,"Congo, Democratic Republic of",2021,"837,600,000","1,066,000,283"
6760,"Congo, Democratic Republic of",2022,"989,900,000","1,066,000,283"
6761,"Congo, Republic of",2021,"32,400,000","142,047,243"
6762,"Congo, Republic of",2022,"162,000,000","142,006,012"

In [ ]:
merge4 = merge3.merge(position, how = 'left', left_on=['Member', 'Year'], right_on=['Member', 'Year'])
merge4

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No,Total PRG Credit Outstanding,Total Holdings
0,Afghanistan,AFG,1985,0,NaN,2403,NaN,0,"81,884,756"
1,Afghanistan,AFG,1986,0,NaN,2397,NaN,0,"81,863,630"
2,Afghanistan,AFG,1987,0,NaN,2727,1.0,0,"81,863,630"
3,Afghanistan,AFG,1988,0,NaN,2518,1.0,0,"81,846,417"
4,Afghanistan,AFG,1989,0,NaN,2462,NaN,0,"81,832,875"
...,...,...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0,"62,484,153","353,074,542"
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0,0,"706,474,542"
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0,0,"706,474,542"
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0,0,"706,474,542"
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0,0,"706,474,542"

In [ ]:
merge4.to_csv('Result, GDP, FS, ND, Outstanding.csv')

In [ ]:
current_acc = pd.read_csv('Current Account Balance.csv')
current_acc['Member'] = current_acc['Member'].str.replace('Rep.', 'Republic')
current_acc['Member'] = current_acc['Member'].str.replace("Dem.", "Democratic")
current_acc['Member'] = current_acc['Member'].str.replace(", Islamic Republic of", "")
current_acc['Member'] = current_acc['Member'].str.replace('Armenia, Republic of', 'Armenia')
current_acc['Member'] = current_acc['Member'].str.replace('Ethiopia, The Federal Democratic Republic of', "Ethiopia")
current_acc['Member'] = current_acc['Member'].str.replace('Gambia, The', 'Gambia')
current_acc['Member'] = current_acc['Member'].str.replace('Moldova, Republic of', 'Moldova')
current_acc['Member'] = current_acc['Member'].str.replace('North Macedonia, Republicblic of', 'North Macedonia')
current_acc['Member'] = current_acc['Member'].str.replace('Tajikistan, Republic of', 'Tajikistan')
current_acc['Member'] = current_acc['Member'].str.replace('Uzbekistan, Republic of', 'Uzbekistan')
current_acc['Member'] = current_acc['Member'].str.replace('Yemen, Republic of', 'Yemen')
current_acc['Member'] = current_acc['Member'].str.replace('Comoros, Union of the', 'Comoros')
current_acc['Member'] = current_acc['Member'].replace(["Azerbaijan, Republic of"], "Azerbaijan").replace(["Congo, Democratic Republic of the"], "Congo, Democratic Republic of")
current_acc['Member'] = current_acc['Member'].replace(["Lesotho, Kingdom of"], "Lesotho")
current_acc['Member'] = current_acc['Member'].replace(["Madagascar, Republic of"], "Madagascar")
current_acc['Member'] = current_acc['Member'].replace(["Mauritania, Islamic Republic of"], "Mauritania")
current_acc['Member'] = current_acc['Member'].replace(["Mozambique, Republic of"], "Mozambique")
current_acc['Member'] = current_acc['Member'].replace(["South Sudan, Republic of"], "South Sudan")
current_acc['Member'] = current_acc['Member'].replace(["Tanzania, United Republic of"], "Tanzania")
current_acc

<ipython-input-18-4a81ed61a564>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  current_acc['Member'] = current_acc['Member'].str.replace('Rep.', 'Republic')
<ipython-input-18-4a81ed61a564>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  current_acc['Member'] = current_acc['Member'].str.replace("Dem.", "Democratic")

           Member  Year Current Account Balance
0     Afghanistan  1984                  -450.6
1     Afghanistan  1985                  -243.2
2     Afghanistan  1986                  -537.2
3     Afghanistan  1987                  -166.9
4     Afghanistan  1988                    26.2
...           ...   ...                     ...
7785     Zimbabwe  2017            -271.2867206
7786     Zimbabwe  2018            -1379.721611
7787     Zimbabwe  2019             920.3766566
7788     Zimbabwe  2020             1096.164248
7789     Zimbabwe  2021                     ...

[7790 rows x 3 columns]

In [ ]:
merge5 = merge4.merge(current_acc, left_on=['Member', 'Year'], right_on=['Member', 'Year'])
merge5

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No,Total PRG Credit Outstanding,Total Holdings,Current Account Balance
0,Afghanistan,AFG,1985,0,NaN,2403,NaN,0,"81,884,756",-243.2
1,Afghanistan,AFG,1986,0,NaN,2397,NaN,0,"81,863,630",-537.2
2,Afghanistan,AFG,1987,0,NaN,2727,1.0,0,"81,863,630",-166.9
3,Afghanistan,AFG,1988,0,NaN,2518,1.0,0,"81,846,417",26.2
4,Afghanistan,AFG,1989,0,NaN,2462,NaN,0,"81,832,875",-143.3
...,...,...,...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0,"62,484,153","353,074,542",-1596.693262
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0,0,"706,474,542",-697.4743268
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0,0,"706,474,542",-271.2867206
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0,0,"706,474,542",-1379.721611
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0,0,"706,474,542",920.3766566

In [ ]:
merge5.to_csv('5.csv')

In [ ]:
capital_acc = pd.read_csv('capital account.csv')
capital_acc = capital_acc.rename(columns={capital_acc.columns[0]: "Member"})
capital_acc['Member'] = capital_acc['Member'].str.replace('Rep.', 'Republic')
capital_acc['Member'] = capital_acc['Member'].str.replace("Dem.", "Democratic")
capital_acc['Member'] = capital_acc['Member'].str.replace(", Islamic Republic of", "")
capital_acc['Member'] = capital_acc['Member'].str.replace('Armenia, Republic of', 'Armenia')
capital_acc['Member'] = capital_acc['Member'].str.replace('Ethiopia, The Federal Democratic Republic of', "Ethiopia")
capital_acc['Member'] = capital_acc['Member'].str.replace('Gambia, The', 'Gambia')
capital_acc['Member'] = capital_acc['Member'].str.replace('Moldova, Republic of', 'Moldova')
capital_acc['Member'] = capital_acc['Member'].str.replace('North Macedonia, Republicblic of', 'North Macedonia')
capital_acc['Member'] = capital_acc['Member'].str.replace('Tajikistan, Republic of', 'Tajikistan')
capital_acc['Member'] = capital_acc['Member'].str.replace('Uzbekistan, Republic of', 'Uzbekistan')
capital_acc['Member'] = capital_acc['Member'].str.replace('Yemen, Republic of', 'Yemen')
capital_acc['Member'] = capital_acc['Member'].str.replace('Comoros, Union of the', 'Comoros')
capital_acc['Member'] = capital_acc['Member'].replace(["Azerbaijan, Republic of"], "Azerbaijan").replace(["Congo, Democratic Republic of the"], "Congo, Democratic Republic of")
capital_acc['Member'] = capital_acc['Member'].replace(["Lesotho, Kingdom of"], "Lesotho")
capital_acc['Member'] = capital_acc['Member'].replace(["Madagascar, Republic of"], "Madagascar")
capital_acc['Member'] = capital_acc['Member'].replace(["Mauritania, Islamic Republic of"], "Mauritania")
capital_acc['Member'] = capital_acc['Member'].replace(["Mozambique, Republic of"], "Mozambique")
capital_acc['Member'] = capital_acc['Member'].replace(["South Sudan, Republic of"], "South Sudan")
capital_acc['Member'] = capital_acc['Member'].replace(["Tanzania, United Republic of"], "Tanzania")
capital_acc

<ipython-input-22-f21bc8f2f5eb>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  capital_acc['Member'] = capital_acc['Member'].str.replace('Rep.', 'Republic')
<ipython-input-22-f21bc8f2f5eb>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  capital_acc['Member'] = capital_acc['Member'].str.replace("Dem.", "Democratic")

           Member  Year Capital Account Balance
0     Afghanistan  1984                       0
1     Afghanistan  1985                       0
2     Afghanistan  1986                       0
3     Afghanistan  1987                       0
4     Afghanistan  1988                       0
...           ...   ...                     ...
7747     Zimbabwe  2017             223.7254951
7748     Zimbabwe  2018             231.3916851
7749     Zimbabwe  2019             314.5305572
7750     Zimbabwe  2020             299.6842635
7751     Zimbabwe  2021                     ...

[7752 rows x 3 columns]

In [ ]:
merge6 = merge5.merge(capital_acc, left_on=['Member', 'Year'], right_on=['Member', 'Year'])
merge6

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No,Total PRG Credit Outstanding,Total Holdings,Current Account Balance,Capital Account Balance
0,Afghanistan,AFG,1985,0,NaN,2403,NaN,0,"81,884,756",-243.2,0
1,Afghanistan,AFG,1986,0,NaN,2397,NaN,0,"81,863,630",-537.2,0
2,Afghanistan,AFG,1987,0,NaN,2727,1.0,0,"81,863,630",-166.9,0
3,Afghanistan,AFG,1988,0,NaN,2518,1.0,0,"81,846,417",26.2,0
4,Afghanistan,AFG,1989,0,NaN,2462,NaN,0,"81,832,875",-143.3,0
...,...,...,...,...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0,"62,484,153","353,074,542",-1596.693262,398.4
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0,0,"706,474,542",-697.4743268,242.3
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0,0,"706,474,542",-271.2867206,223.7254951
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0,0,"706,474,542",-1379.721611,231.3916851
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0,0,"706,474,542",920.3766566,314.5305572

In [ ]:
merge6.to_csv('6.csv')

In [ ]:
financial_acc = pd.read_csv('financial account.csv')
financial_acc = financial_acc.rename(columns={financial_acc.columns[0]: "Member"})
financial_acc['Member'] = financial_acc['Member'].str.replace('Rep.', 'Republic')
financial_acc['Member'] = financial_acc['Member'].str.replace("Dem.", "Democratic")
financial_acc['Member'] = financial_acc['Member'].str.replace(", Islamic Republic of", "")
financial_acc['Member'] = financial_acc['Member'].str.replace('Armenia, Republic of', 'Armenia')
financial_acc['Member'] = financial_acc['Member'].str.replace('Ethiopia, The Federal Democratic Republic of', "Ethiopia")
financial_acc['Member'] = financial_acc['Member'].str.replace('Gambia, The', 'Gambia')
financial_acc['Member'] = financial_acc['Member'].str.replace('Moldova, Republic of', 'Moldova')
financial_acc['Member'] = financial_acc['Member'].str.replace('North Macedonia, Republicblic of', 'North Macedonia')
financial_acc['Member'] = financial_acc['Member'].str.replace('Tajikistan, Republic of', 'Tajikistan')
financial_acc['Member'] = financial_acc['Member'].str.replace('Uzbekistan, Republic of', 'Uzbekistan')
financial_acc['Member'] = financial_acc['Member'].str.replace('Yemen, Republic of', 'Yemen')
financial_acc['Member'] = financial_acc['Member'].str.replace('Comoros, Union of the', 'Comoros')
financial_acc['Member'] = financial_acc['Member'].replace(["Azerbaijan, Republic of"], "Azerbaijan").replace(["Congo, Democratic Republic of the"], "Congo, Democratic Republic of")
financial_acc['Member'] = financial_acc['Member'].replace(["Lesotho, Kingdom of"], "Lesotho")
financial_acc['Member'] = financial_acc['Member'].replace(["Madagascar, Republic of"], "Madagascar")
financial_acc['Member'] = financial_acc['Member'].replace(["Mauritania, Islamic Republic of"], "Mauritania")
financial_acc['Member'] = financial_acc['Member'].replace(["Mozambique, Republic of"], "Mozambique")
financial_acc['Member'] = financial_acc['Member'].replace(["South Sudan, Republic of"], "South Sudan")
financial_acc['Member'] = financial_acc['Member'].replace(["Tanzania, United Republic of"], "Tanzania")
financial_acc

<ipython-input-25-907fc15dfd66>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  financial_acc['Member'] = financial_acc['Member'].str.replace('Rep.', 'Republic')
<ipython-input-25-907fc15dfd66>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  financial_acc['Member'] = financial_acc['Member'].str.replace("Dem.", "Democratic")

           Member  Year Financial Account Balance
0     Afghanistan  1984                    -313.2
1     Afghanistan  1985                    -100.8
2     Afghanistan  1986                   -302.09
3     Afghanistan  1987                      33.9
4     Afghanistan  1988                       4.1
...           ...   ...                       ...
7747     Zimbabwe  2017               -569.107468
7748     Zimbabwe  2018              -972.7631769
7749     Zimbabwe  2019               331.8774504
7750     Zimbabwe  2020               844.7557033
7751     Zimbabwe  2021                       ...

[7752 rows x 3 columns]

In [ ]:
merge7 = merge6.merge(financial_acc, left_on=['Member', 'Year'], right_on=['Member', 'Year'])
merge7

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No,Total PRG Credit Outstanding,Total Holdings,Current Account Balance,Capital Account Balance,Financial Account Balance
0,Afghanistan,AFG,1985,0,NaN,2403,NaN,0,"81,884,756",-243.2,0,-100.8
1,Afghanistan,AFG,1986,0,NaN,2397,NaN,0,"81,863,630",-537.2,0,-302.09
2,Afghanistan,AFG,1987,0,NaN,2727,1.0,0,"81,863,630",-166.9,0,33.9
3,Afghanistan,AFG,1988,0,NaN,2518,1.0,0,"81,846,417",26.2,0,4.1
4,Afghanistan,AFG,1989,0,NaN,2462,NaN,0,"81,832,875",-143.3,0,59.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0,"62,484,153","353,074,542",-1596.693262,398.4,-1223.425377
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0,0,"706,474,542",-697.4743268,242.3,-887.1660917
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0,0,"706,474,542",-271.2867206,223.7254951,-569.107468
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0,0,"706,474,542",-1379.721611,231.3916851,-972.7631769
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0,0,"706,474,542",920.3766566,314.5305572,331.8774504

In [ ]:
merge7.to_csv('7.csv')

In [ ]:
reserves = pd.read_csv('Reserves.csv')
reserves = reserves.rename(columns={reserves.columns[0]: "Member"})
reserves['Member'] = reserves['Member'].str.replace('Rep.', 'Republic')
reserves['Member'] = reserves['Member'].str.replace("Dem.", "Democratic")
reserves['Member'] = reserves['Member'].str.replace(", Islamic Republic of", "")
reserves['Member'] = reserves['Member'].str.replace('Armenia, Republic of', 'Armenia')
reserves['Member'] = reserves['Member'].str.replace('Ethiopia, The Federal Democratic Republic of', "Ethiopia")
reserves['Member'] = reserves['Member'].str.replace('Gambia, The', 'Gambia')
reserves['Member'] = reserves['Member'].str.replace('Moldova, Republic of', 'Moldova')
reserves['Member'] = reserves['Member'].str.replace('North Macedonia, Republicblic of', 'North Macedonia')
reserves['Member'] = reserves['Member'].str.replace('Tajikistan, Republic of', 'Tajikistan')
reserves['Member'] = reserves['Member'].str.replace('Uzbekistan, Republic of', 'Uzbekistan')
reserves['Member'] = reserves['Member'].str.replace('Yemen, Republic of', 'Yemen')
reserves['Member'] = reserves['Member'].str.replace('Comoros, Union of the', 'Comoros')
reserves['Member'] = reserves['Member'].replace(["Azerbaijan, Republic of"], "Azerbaijan").replace(["Congo, Democratic Republic of the"], "Congo, Democratic Republic of")
reserves['Member'] = reserves['Member'].replace(["Lesotho, Kingdom of"], "Lesotho")
reserves['Member'] = reserves['Member'].replace(["Madagascar, Republic of"], "Madagascar")
reserves['Member'] = reserves['Member'].replace(["Mauritania, Islamic Republic of"], "Mauritania")
reserves['Member'] = reserves['Member'].replace(["Mozambique, Republic of"], "Mozambique")
reserves['Member'] = reserves['Member'].replace(["South Sudan, Republic of"], "South Sudan")
reserves['Member'] = reserves['Member'].replace(["Tanzania, United Republic of"], "Tanzania")
reserves

<ipython-input-29-323b453daa73>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  reserves['Member'] = reserves['Member'].str.replace('Rep.', 'Republic')
<ipython-input-29-323b453daa73>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  reserves['Member'] = reserves['Member'].str.replace("Dem.", "Democratic")

           Member  Year      Reserves
0     Afghanistan  1984   70.17708495
1     Afghanistan  1985   26.01347463
2     Afghanistan  1986   -18.7268109
3     Afghanistan  1987   10.79432121
4     Afghanistan  1988  -25.63102115
...           ...   ...           ...
7747     Zimbabwe  2017  -568.3183774
7748     Zimbabwe  2018  -90.91540088
7749     Zimbabwe  2019  -35.91290158
7750     Zimbabwe  2020  -87.69258539
7751     Zimbabwe  2021           ...

[7752 rows x 3 columns]

In [ ]:
final = merge7.merge(reserves, left_on=['Member', 'Year'], right_on=['Member', 'Year'])
final

,Member,Member Code,Year,Fund,Real GDP growth (Annual percent change),Food Supply (kcal/capita/day),Dis No,Total PRG Credit Outstanding,Total Holdings,Current Account Balance,Capital Account Balance,Financial Account Balance,Reserves
0,Afghanistan,AFG,1985,0,NaN,2403,NaN,0,"81,884,756",-243.2,0,-100.8,26.01347463
1,Afghanistan,AFG,1986,0,NaN,2397,NaN,0,"81,863,630",-537.2,0,-302.09,-18.7268109
2,Afghanistan,AFG,1987,0,NaN,2727,1.0,0,"81,863,630",-166.9,0,33.9,10.79432121
3,Afghanistan,AFG,1988,0,NaN,2518,1.0,0,"81,846,417",26.2,0,4.1,-25.63102115
4,Afghanistan,AFG,1989,0,NaN,2462,NaN,0,"81,832,875",-143.3,0,59.6,-20.07855755
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,Zimbabwe,ZWE,2015,0,1.8,1919,1.0,"62,484,153","353,074,542",-1596.693262,398.4,-1223.425377,-50.99289037
2276,Zimbabwe,ZWE,2016,0,0.5,1957,1.0,0,"706,474,542",-697.4743268,242.3,-887.1660917,58.3535646
2277,Zimbabwe,ZWE,2017,0,5.0,1862,2.0,0,"706,474,542",-271.2867206,223.7254951,-569.107468,-568.3183774
2278,Zimbabwe,ZWE,2018,0,4.7,1875,1.0,0,"706,474,542",-1379.721611,231.3916851,-972.7631769,-90.91540088
2279,Zimbabwe,ZWE,2019,0,-6.1,1707,2.0,0,"706,474,542",920.3766566,314.5305572,331.8774504,-35.91290158

In [ ]:
final.to_csv('Final.csv')